/* Weather Widget */
#gcweather-widget {
	margin: 0px;
	padding: 0px;
}
#gcweather-widget .settings {
	padding: 0px 3px;
}
#gcweather-widget .container {
	min-height: 112px;
	border: 1px solid #B8B04D;
}
#gcweather-widget ul {
	display: block;
	padding-left: 0px;
	margin-left: 0px;
}
#gcweather-widget li {
	padding: 0px 3px;
	list-style: none;
	clear: both;
}
#gcweather-widget li span {
	text-align: left;
}
#gcweather-widget li img {
	height: 66px;
	width: 80px;
	float: right;
}

/* Form */
#gcweather-form {
	margin: 0px;
	border: 1px solid #B8B04D;
}
#gcweather-form select {
	max-width: 90%;
}


/* Bottom */
#gcweather-widget .navigation {
	display: block;
	clear: both;
	width: 100%;
}
#gcweather-widget .navigation a {	
	text-decoration: none;
	color: #000000;
}
#gcweather-widget .prev {
	width: 49%;
	text-align: center;
	height: 19px;
	border: 1px solid #9E9E9E;
	background-image: url('button.jpg');
	float: left;
}
#gcweather-widget .next {
	width: 49%;
	text-align: center;
	height: 19px;
	border: 1px solid #9E9E9E;
	background-image: url('button.jpg');
	float: right;
}